/*********************************************
 Main home banner customizations
 *********************************************/






#banner .button.redbtn {
  background-color: #f26c4f;
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: #f26c4f;
}



/*********************************************
 Write your css customizations below
 *********************************************/
 a {
   color: #f26c4f;
 }


 /*********************************************
  Main home banner customizations
  *********************************************/
 body{
   font-family: , Sans-serif;
   font-weight: 400;
   font-style: book;
 }

  #banner {
    /* Added a background image to the home page banner instead of using a solid color. */
    background: url(../../images/bobbw.jpg) 0 40% no-repeat;
    background-size: cover;
    color: #f26c4f;
    display: block;
    height: 60%;
    /* text-shadow: 1px 1px 15px #333; */
    text-align: center;
    cursor: default;
    padding: 4em 4em 9em 4em;}

 #banner .button.redbtn {
   background-color: #f26c4f;
   box-shadow: none;
 }

 #banner .button.redbtn:hover {
   background-color: #f26c4f;
 }

 header p {
   color: #f26c4f;
 }

 div.content {
   height:800px;
 }


 /*********************************************
 Home page content sections
  *********************************************/



 /* This is the text color for "post style 1" content sections */

 .post.style1 input, .post.style1 select, .post.style1 textarea {
   color: #f26c4f;
 }

 .post.style1 a {
   color: #f26c4f;
 }

 .post.style1 strong, .post.style1 b {
   color: #f26c4f;
 }

 .post.style1 h1, .post.style1 h2, .post.style1 h3, .post.style1 h4, .post.style1 h5, .post.style1 h6 {
   color: #f26c4f;
 }

 /* This is the background color for the inverted content sections */
 .post.style1.invert .content,
 .post.style1.invert {
    background: #f26c4f;
  }

 /* This is the text color for "post style 1" buttons */
 .post.style1 .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #f26c4f !important;
}
