/*********************************************
 Main home banner customizations
 *********************************************/






#banner .button.redbtn {
  background-color: rgba(63, 8, 16, 0);
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: rgba(63, 8, 16, 0);
}



/*********************************************
 Write your css customizations below
 *********************************************/
 a {
   color: rgba(63, 8, 16, 0);
 }


 /*********************************************
  Main home banner customizations
  *********************************************/
 body{
   font-family: , Sans-serif;
   font-weight: 400;
   font-style: book;
 }

  #banner {
    /* Added a background image to the home page banner instead of using a solid color. */
    background-image: url(../../images/bobbw.jpg) 0 45%;
    background-size: cover;
    color: .post.style1 a {
    color: #f26c4f;
    /* text-shadow: 1px 1px 15px #333; */
    text-align: center;
    cursor: default;
    padding: 4em 4em 9em 4em;}

 #banner .button.redbtn {
   background-color: #f26c4f;
   box-shadow: none;
 }

 #banner .button.redbtn:hover {
   background-color: #f26c4f;
 }

 header p {
   color: #f26c4f;
 }

 div.content {
   height:800px;
 }


 /*********************************************
 Home page content sections
  *********************************************/

 /* This is the background color for the inverted content sections */
 .post.style1.invert .content {
    background: #f26c4f;}

 /* This is the text color for "post style 1" content sections */
 .post.style1 a {
     color: #f26c4f;}

 /* This is the text color for "post style 1" buttons */
 .post.style1 .button.alt {
     color: #f26c4f; !important;}
