/*********************************************
 Main home banner customizations
 *********************************************/






#banner .button.redbtn {
  background-color: rgba(188, 46, 26, 1);
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: rgba(188, 46, 26, .8);
}



/*********************************************
 Write your css customizations below
 *********************************************/
 a {
   color: rgba(63, 8, 16, 0);
 }


 /*********************************************
  Main home banner customizations
  *********************************************/
 body{
   font-family: Baskerville, Sans-serif;
   font-weight: 400;
   font-style: book;
 }

  #banner {
    /* Added a background image to the home page banner instead of using a solid color. */
    background-image: url(../../images/bobbw.jpg);
    background-size: cover;
    color: rgba(63, 8, 16, 0);
    /* text-shadow: 1px 1px 15px #333; */
    text-align: center;
    cursor: default;
    padding: 4em 4em 9em 4em;

 #banner .button.redbtn {
   background-color: rgba(63, 8, 16, 0);
   box-shadow: none;
 }

 #banner .button.redbtn:hover {
   background-color: rgba(63, 8, 16, 0);
 }

 header p {
   color: rgba(63, 8, 16, 0);
 }

 div.content {
   height:800px;
 }


 /*********************************************
 Home page content sections
  *********************************************/

 /* This is the background color for the inverted content sections */
 .post.style1.invert .content{
   /* background: rgba(62, 161, 218, 1); */
   background: rgba(63, 8, 16, 0);
 }

 /* This is the text color for "post style 1" content sections */
 .post.style1 a{
     /* color: rgba(62, 161, 218, 1); */
     color: rgba(63, 8, 16, 0);
 }

 /* This is the text color for "post style 1" buttons */
 .post.style1 .button.alt {
     color: rgba(63, 8, 16, 0) !important;}
